[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
kivy = {extras = ["base"], version = "*"}
requests = "*"
beautifulsoup4 = "*"
weasyprint = "*"

[dev-packages]

[requires]
python_version = "3.9"
